<div class="card column is-full-tablet is-half-desktop is-one-quarter-widescreen mx-3 my-3">
  <a href="/party/{{id}}">
    <header class="card-header">
      <p class="card-header-title is-centered">{{title}}</p>
    </header>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="/images/{{theme.theme_description}}.png" alt="{{theme.theme_description}}">
      </figure>
    </div>
    <div class="card-content is-flex is-justify-content-center">
      <div class="content">
        Happening on: {{startdate}}
      </div>
    </div>
  </a>
</div>

{{!-- Non Bulma Party Card to be completed below in order to make styling the cards easier --}}

{{!-- <div class="party-card">
  <a href="/parties/{{id}}">
  <header class="card-header">
    <p>title</p>
  </header>
  <figure class="party-image">
  <img src="/images/{{theme.theme_description}}.png" alt="{{theme.theme_description}}">
  </figure>
  <div class="card-date">
    <p>startdate</p>
  </div>
  </a>
</div> --}}