{{!-- <h1 class="has-text-centered is-size-1 is-size-3-mobile">Your {{party.theme.theme_description}} party details are as
    follows:</h1> --}}

<div class="card column mx-auto mt-5 is-two-thirds-tablet is-one-third-desktop is-one-quarter-widescreen"> {{!--  is-two-thirds-tablet --}}
    <div class="card-image">
        <figure class="image mx-auto">
            <img src="/images/{{theme.theme_description}}.png" alt="{{theme.theme_description}}">
        </figure>
    </div>
    <header class="card-header">
        <p class="card-header-title is-centered">Party: {{title}}</p>
    </header>
    <div class="card-content">
        <div class="content">
            The host of this party is {{user.firstname}} {{user.lastname}}.
            <hr>
            The host has labeled the event as a {{theme.theme_description}} party.
            <hr>
            The party is scheduled to happen on {{startdate}}.
            <hr>
            {{#if ispublic}}
            It's open to the public--consider swinging by!
            <a href="">Send host an email</a>
            <hr>
            {{else}}
            The host marked this event as private. 
            <hr>
            {{/if}}
            {{#if party.isover21}}
            The age minimum is 21 years old.
            <hr>
            {{else}}
            The party is open to minors.
            <hr>
            {{/if}}
        </div>
    </div>

    <div class="card-footer has-background-warning is-flex-direction-column">
        {{#if ispublic}}
        <a href="#" class="card-footer-item" id="sendHostEmailBtn">Send host an email invitation</a>
        {{/if}}
        <a href="#" class="card-footer-item" id="goToDashboardBtn">Go back to my dashboard</a>
    </div>
</div>

{{!-- load the Javascript logic for party buttons --}}
<script src="/js/party-buttons.js"></script>