<h1 class="has-text-centered is-size-1 is-size-3-mobile">Your {{party.theme.theme_description}} party details are as
    follows:</h1>

<div class="card column mx-auto is-two-thirds-tablet is-half-desktop is-one-third-widescreen">
    <header class="card-header">
        <p class="card-header-title is-centered">You named your party: {{party.title}}</p>
    </header>
    <div class="card-image">
        <figure class="image mx-auto">
            <img src="/images/{{party.theme.theme_description}}.png" alt="{{theme.theme_description}}">
        </figure>
    </div>
    <div class="card-content">
        <div class="content">
            Your party is set to happen on {{party.startdate}}.
            <hr>
            {{#if party.ispublic}}
            Your party is open to the public (not private).
            <hr>
            {{else}}
            Your party is private (not open to the public).
            <hr>
            {{/if}}
            {{#if party.isover21}}
            And you made your party strictly 21+ years of age and older.<br>
            (Better card your guests!)
            <hr>
            {{else}}
            And you made your party open to minors.
            <hr>
            (Better ensure strict adherence to alcohol consumption laws!).
            <hr>
            {{/if}}
            Lastly, your party's theme is '{{party.theme.theme_description}}', in keeping with
            the photo above!
        </div>
    </div>

    <div class="card-footer has-background-warning is-flex-direction-column">
        <a href="#" class="card-footer-item" id="editPartyBtn">Edit this party's details. (JS LOGIC MISSING!)</a>
        <a href="#" class="card-footer-item" id="deletePartyBtn">Delete this party</a>
        <a href="#" class="card-footer-item" id="goToDashboardBtn">Go back to my dashboard</a>
    </div>
</div>

{{!-- load the Javascript logic for party buttons --}}
<script src="/js/party-buttons.js"></script>